
<li><a href="/Manager/"><i class="fa fa-home"></i> <span>Dashboard</span></a></li>
<li><a href="/Manager/New"><i class="fa fa-user"></i> <span>Öğrenci Ekle</span></a></li>
<li><a href="/Manager/Requests"><i class="fa fa-th"></i> <span>Kiralama Talepleri</span></a></li>
<li>
    <a href="javascript:;"><i class="fa fa-th"></i> <span>Rapor Seçenekleri</span> </a>
    <ul class="acc-menu">
        <li><a href="/Manager/StockReport"><span>Stok Durumu</span></a>
        <li><a href="/Manager/MostRentedBooksReport"><span>En Çok Kiralanan Kitaplar</span></a>
    </ul>
</li>