
<li><a href="/Student/"><i class="fa fa-home"></i> <span>Dashboard</span></a></li>
<li><a href="/Student/BookList"><i class="fa fa-book"></i> <span>Kitap Listesi</span></a></li>
<li><a href="/Student/Requests"><i class="fa fa-bookmark"></i> <span>Kitap Talepleri</span></a></li>
